body {
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: #F1FAEE; */
    background: linear-gradient(135deg, #FAF6F0, #D6C9C2);
}

.logo {
    height: 164px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.first {
    flex-basis: 50%;
    flex-basis: 2rem;
    flex-direction: column;
    padding: 15px 15px;
    /* flex-grow: 0; */
}

.second {
    width: 50%;
    min-width: 400px;
    flex-basis: 50%;
    /* flex-grow: 1; */
}

.button {
    height: 32px;
    margin: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
}

.figure {
    display: block;
    margin: 0px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: rgba(2, 8, 20, 0.2) 0px 4px 16px, rgba(2, 8, 20, 0.16) 0px 16px 32px;
    width: 387px;
    height: 824px;
    overflow: hidden;
    z-index: 1;
    transform: scale(1);
    filter: grayscale(0%);
    background-color: black;
    border-radius: 48px;
}

.notch {
    box-sizing: border-box;
    display: block;
    fill: rgb(9, 10, 13);
    left: 50%;
    position: absolute;
    top: 12px;
    transform: translateX(-50%);
    width: 165px;
    z-index: 2;
    overflow: hidden;
}

iframe {
    top: 0px;
    left: 0px;
    margin: 12px;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    border: none;
    overflow: hidden;
    z-index: 1;
    border-radius: 38px;
}